@font-face {
  font-family: 'Mini Story';
  src: url('../../font/Mini Story.ttf') format('TrueType')
}
@font-face {
  font-family: 'Mini Story Bold';
  src: url('../../font/Mini Story Bold.ttf') format('TrueType')
}

